{{!-- Styling for profile.handlebars --}}
<link rel="stylesheet" type="text/css" href="/css/profile.css"/>
<div class="container my-5">
    <div class="row justify-content-md-center" align="center">
        <div class="col-md-8 col-12">
            <div class="card">
                <div class="card-header mb-2"><h3>Profile</h3></div>
                <img class="card-img-top profile-img border border-danger" src="/img/profiles/{{user.id}}.png" alt="Profile Picture">
                {{!-- Hidden form to update image --}}
                <form>
                    <input type="text" hidden>
                </form>
                <div class="card-body">
                    <h4 class="card-title text-center">{{user.username}}</h4>
                    <br><br>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="heading-details">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-details" aria-expanded="true" aria-controls="collapse-details">
                                    Details
                                    </button>
                                </h5>
                                </div>

                                <div id="collapse-details" class="collapse show" aria-labelledby="heading-details" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-3"><h5>Email:</h5></div>
                                        <div class="col-auto"><p class="font-weight-light">{{user.email}}</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3"><h5>Phone:</h5></div>
                                        <div class="col-auto"><p class="font-weight-light">{{user.phone}}</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3"><h5>Birthday:</h5></div>
                                        <div class="col-auto"><p class="font-weight-light">{{birthday}}</p></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-password">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-password" aria-expanded="true" aria-controls="collapse-password">
                                    Change Password
                                    </button>
                                </h5>
                                </div>

                                <div id="collapse-password" class="collapse" aria-labelledby="heading-password" data-parent="#accordion">
                                <div class="card-body">
                                    <form action="/changePassword">
                                            <div class="form-group form-row">
                                                <div class="col">
                                                    <label for="password">New Password:</label>
                                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                                </div>
                                                <div class="col">
                                                    <label for="confirm_password">Confirm Password:</label>
                                                    <input type="password" class="form-control" id="comfir,_password" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        <button type="submit" class="btn btn-outline-success">Apply</button>
                                    </form> 
                                </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>