
<link rel="stylesheet" href="/css/card.css">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createForm">Add Item</button>
<div class="row">
    {{#if item}}
            {{#each item}}
                <div class="column">
                    <div class="container">
                        <div class="card">
                            <div class="card__image-container">
                                <img class="card__image" src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80" alt="">
                            </div>

                            <svg class="card__svg" viewBox="0 0 800 500">
                                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333" />
                                <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent" />
                            </svg>

                            <div class="card__content">
                                <br><br>
                                <h6 class="card__title">{{this.itemName}} --  ${{this.price}}</h3>
                                <p>{{this.itemDesc}} </p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateForm">Edit</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal">Delete</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
        {{/each}}
    {{/if}}
</div>

{{!-- <div class="row">
    {{#if item}}
            {{#each item}}
                <div class="column">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/uploads/sample.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{this.itemName}} --  ${{this.price}}</h5>
                            <p class="card-text">{{this.itemDesc}}</p>
                            <input type="hidden" id="custId" name="custId" value="{{this.id}}">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateForm">Edit</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal">Delete</button>
                        </div>
                    </div>
                </div>    
            {{/each}}
    {{/if}}
</div> --}}

    {{!-- {{#if item}}
        {{#each item}}
            <h3>{{this.id}}</h3>
            <h3>{{this.itemName}}</h3>
            <h3>{{this.price}}</h3>
            <h3>{{this.itemDesc}}</h3>
        {{/each}}
    {{/if}} --}}

<div class="modal fade" id="createForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add menu item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/stallOwner/submitItem" enctype="">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="itemName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemName" id="itemName" placeholder="enter name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemPrice" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="itemPrice" id="itemPrice" placeholder="enter price" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemDescription" class="col-sm-2 col-form-label">Desc</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemDescription" id="itemDescription" placeholder="enter description" required>
                        </div>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg">
                        <label class="custom-file-label" for="itemImage">Choose image</label>
                        <div class="invalid-feedback">Invalid file</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Menu Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="m" enctype="">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="itemName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemName" id="itemName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemPrice" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="itemPrice" id="itemPrice" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemDescription" class="col-sm-2 col-form-label">Desc</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemDescription" id="itemDescription" required>
                        </div>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="itemImage" id="itemImage"
                            accept="image/png,image/jpeg,image/jpg">
                        <label class="custom-file-label" for="itemImage">Choose image</label>
                        <div class="invalid-feedback">Invalid file</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button submit" class="btn btn-primary">Update</button>
                    </div>
            </form>
        </div>
    </div>
</div>
    
