
<link rel="stylesheet" href="/css/stallowner.css">
<br>
<center>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Search Menu"
                style="width: 200px;">
            <br>
        </div>
        <div class="col-sm-1">
            <button type="button" class="red-btn" data-toggle="modal" data-target="#createForm">Add</button>
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</center>
<br><br>
<div class="row" style="padding-left: 5em">
    {{#if item}}
            {{#each item}}
                <div class="col-xs-6">
                    <div class="column">
                        <div class="container">
                            <div class="card">
                                <div class="card__image-container shimmerBG media">
                                    <center><img class="card__image" src="/uploads/{{this.owner}}{{this.itemName}}.jpeg" onerror="this.src='http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg';" height="140" width="225" alt="" title="{{this.itemDesc}}"></center>
                                </div>
                                <div class="card__content">
                                    <br>
                                    <center>
                                         <h6 class="card__title">{{this.itemName}}</h6>
                                         <h6 class="card__title">${{this.price}}</h6>
                                        <button type="button" class="red-btn" data-toggle="modal" data-target="#updateForm{{this.id}}" style="margin:5px;">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M1.438 16.872l-1.438 7.128 7.127-1.438 12.642-12.64-5.69-5.69-12.641 12.64zm2.271 2.253l-.85-.849 11.141-11.125.849.849-11.14 11.125zm20.291-13.436l-2.817 2.819-5.69-5.691 2.816-2.817 5.691 5.689z"/>
                                            </svg>
                                        </button>                                                                                            
                                        <button type="submit" class="red-btn" data-toggle="modal" data-target="#deleteForm{{this.id}}">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/>
                                            </svg>
                                        </button>                                             
                                    </center>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>  
        {{/each}}
    {{/if}}
</div>

<div class="modal fade" id="createForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add menu item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/stallOwner/submitItem" enctype="multipart/form-data">
                <div class="modal-body">
                    <br>
                    <div class="form-group row">
                        <label for="itemName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemName" id="itemName" placeholder="enter name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemPrice" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="itemPrice" id="itemPrice" placeholder="enter price" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemDescription" class="col-sm-2 col-form-label">Desc</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemDescription" id="itemDescription" placeholder="enter description" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2 imgUp">
                            <div class="imagePreview"></div>                            
                                <input type="file" class="uploadFile img" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg">
                            </div>
                    </div>
                    {{!-- <div class="custom-file">
                        <input type="file" class="custom-file-input" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg">
                        <label class="custom-file-label" for="itemImage">Choose image</label>
                        <div class="invalid-feedback">Invalid file</div>
                    </div> --}}
                    <div class="modal-footer">
                        <button type="submit" class="red-btn">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#if item}}
    {{#each item}}
        <div class="modal fade" id="updateForm{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Update Menu Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/stallOwner/updateItem" enctype="multipart/form-data">
                        <br>
                        <div class="modal-body">
                        <div class="form-group row">        
                            <label for="itemName" class="col-sm-2 col-form-label">Name</label> 
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="itemName" id="itemName" value="{{this.itemName}}" required>
                            </div>
                        </div>
                        <div class="form-group row">                               
                            <label for="itemPrice" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-10">                     
                                <input type="number" class="form-control" name="itemPrice" id="itemPrice" value="{{this.price}}" required>
                            </div>
                        </div>
                        <div class="form-group row">                      
                            <label for="itemDescription" class="col-sm-2 col-form-label">Desc</label> 
                            <div class="col-sm-10">                      
                                <input type="text" class="form-control" name="itemDescription" id="itemDescription" value="{{this.itemDesc}}" required>  
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 imgUp">
                                <div class="imagePreview" style="background: url(/uploads/{{this.owner}}{{this.itemName}}.jpeg); background-size: 225px 140px;"></div>                            
                                    <input type="file" class="uploadFile img" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg">
                                </div>
                    </div>
                        {{!-- <div class="custom-file">                  
                            <input type="file" class="custom-file-input" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg">
                            <label class="custom-file-label" for="">Choose image</label>
                        </div> --}}
                        <input type="hidden" id="itemID" name="itemID" value="{{this.id}}"> 
                        <div class="modal-footer">
                            <button type="submit" class="red-btn">Update</button>  
                        </div> 
                        </div>            
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}

{{#if item}}
    {{#each item}}
        <div class="modal fade" id="deleteForm{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure to delete?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/stallOwner/deleteItem">
                        <br>
                        <input type="hidden" id="itemID" name="itemID" value="{{this.id}}"> 
                        <div class="modal-body">
                            <center>
                                <button type="submit" class="red-btn">Yes</button>
                                <button data-dismiss="modal" class="red-btn">No</button>  
                            </center>
                        </div>            
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}


<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>    
<script>
    $(".imgAdd").click(function () {
            $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
        });
        $(document).on("click", "i.del", function () {
            $(this).parent().remove();
        });
        $(function () {
            $(document).on("change", ".uploadFile", function () {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function () { // set image data as background of div
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }
            });
        });
</script>
