
<link rel="stylesheet" href="/css/stallowner.css">
{{#if displayAlert}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <center><strong>{{this.displayAlert}}</strong></center>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
{{/if}}

{{#if errorAlert}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <center><strong>{{this.errorAlert}}</strong></center>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
{{/if}}

<br>
<center>   
    <h2>{{stall.stallName}}</h2>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">           
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <form method="POST" action="/stallOwner/filterItem" class="form-inline">
                <input type="text" class="form-control" name="filterName" id="filterName" placeholder="Search Menu" style="width: 200px;">
                <button type="submit" class="btn btn-outline-success" style="margin-left: 15px;">Search</button>
            </form>
            <br>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <form method="GET" action="/stallOwner/showMenu">
                <button type="submit" class="btn btn-outline-success">Show All</button>
            </form>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#createForm">Add</button>
        </div>
    </div>
</center>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card border-secondary" style="background-color: #fff;  width: 100% !important; height: 100% !important;">
                <div class="row">
                    {{#if item}}
                        {{#each item}}
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="column">
                                    <div class="container">
                                        <div class="card">
                                            <div class="card__image-container shimmerBG media">
                                                <center><img class="card__image" src="/img/uploads/{{this.image}}" onerror="this.src='http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg';" height="180" width="265" alt="" title="{{this.itemDesc}}"></center>
                                            </div>
                                            <div class="card__content">
                                                <br>
                                                <center>
                                                    <h5 class="card__title">{{this.itemName}}</h5>
                                                    <h5 class="card__title">${{this.price}}</h5>
                                                    <button type="button" class="btn btn-outline" data-toggle="modal" data-target="#updateForm{{this.id}}" title="edit" style="background-color: #fff; color:#343a40;">Edit</button>                                                                                            
                                                    <button type="submit" class="btn btn-outline" data-toggle="modal" data-target="#deleteForm{{this.id}}" title="delete" style="background-color: #fff; color:#343a40;">Delete</button>                                                                                 
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>  
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="modal fade" id="createForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add menu item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/stallOwner/submitItem" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div class="modal-body">
                    <br>
                    <div class="form-group row">
                        <label for="itemName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemName" id="itemName" pattern="[a-zA-Z\s]{1,50}" placeholder="enter item name" required> 
                            <div class="valid-feedback">Valid</div>
                            <div class="invalid-feedback">required, max 50 letters </div>                                                    
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="itemPrice" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" step=".01" min="0" class="form-control" name="itemPrice" id="itemPrice" placeholder="enter price" required>
                            <div class="valid-feedback">Valid</div>
                            <div class="invalid-feedback">required</div>
                        </div>                       
                    </div>
                    <div class="form-group row">
                        <label for="itemDescription" class="col-sm-2 col-form-label">Desc</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="itemDescription" id="itemDescription" placeholder="enter description" pattern="[a-zA-Z0-9\s]{1,255}"  required>
                            <div class="valid-feedback">Valid</div>
                            <div class="invalid-feedback">required, max 255 characters</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2 imgUp">
                            <div class="imagePreview"></div>                            
                                <input type="file" class="uploadFile img" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg" required>                                
                            </div>
                    </div>                  
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-danger">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#if item}}
    {{#each item}}
        <div class="modal fade" id="updateForm{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Update Menu Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/stallOwner/updateItem" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <br>
                        <div class="modal-body">
                        <div class="form-group row">        
                            <label for="itemName" class="col-sm-2 col-form-label">Name</label> 
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="itemName" id="itemName" pattern="[a-zA-Z\s]+" maxlength="50" value="{{this.itemName}}" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">required, letters only</div>
                            </div>
                        </div>
                        <div class="form-group row">                               
                            <label for="itemPrice" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-10">                     
                                <input type="number" step=".01" min="0" class="form-control" name="itemPrice" id="itemPrice" value="{{this.price}}" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">required</div>
                            </div>
                        </div>
                        <div class="form-group row">                      
                            <label for="itemDescription" class="col-sm-2 col-form-label">Desc</label> 
                            <div class="col-sm-10">                      
                                <input type="text" class="form-control" name="itemDescription" id="itemDescription" maxlength="255" value="{{this.itemDesc}}" required> 
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">required</div> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 imgUp">
                                <div class="imagePreview" style="background: url(/img/uploads/{{this.image}}); background-size: 225px 140px;"></div>                            
                                    <input type="file" class="uploadFile img" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg">
                                </div>
                        </div>                       
                        <input type="hidden" id="itemID" name="itemID" value="{{this.id}}">
                        <input type="hidden" id="imgName" name="imgName" value="{{this.image}}">
                        <input type="hidden" id="checkName" name="checkName" value="{{this.itemName}}">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-danger">Update</button>  
                        </div> 
                        </div>            
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}

{{#if item}}
    {{#each item}}
        <div class="modal fade" id="deleteForm{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure to delete?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/stallOwner/deleteItem">
                        <br>
                        <input type="hidden" id="itemID" name="itemID" value="{{this.id}}"> 
                        <div class="modal-body">
                            <center>
                                <button type="submit" class="red-btn">Yes</button>
                                <button data-dismiss="modal" class="red-btn">No</button>  
                            </center>
                        </div>            
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}

{{#if item}}
    {{#each item}}
        <div class="modal fade" id="commentForm{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Show review for {{this.itemName}}?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/stallOwner/viewComment">
                        <br>
                        <input type="hidden" id="itemID" name="itemID" value="{{this.id}}"> 
                        <div class="modal-body">
                            <center>
                                <button type="submit" class="red-btn">Yes</button>
                                <button data-dismiss="modal" class="red-btn">No</button>  
                            </center>
                        </div>            
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}

<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>    
<script>
    $(".imgAdd").click(function () {
            $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" name="itemImage" id="itemImage" accept="image/png,image/jpeg,image/jpg" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
        });
        $(document).on("click", "i.del", function () {
            $(this).parent().remove();
        });
        $(function () {
            $(document).on("change", ".uploadFile", function () {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function () { // set image data as background of div
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }
            });
        });
</script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>