<link rel="stylesheet" href="/css/stallowner.css">

<br><br>
<div class="row" style="padding-left: 5em">
    {{#if items}}
            {{#each items}}
                <div class="col-xs-6">
                    <div class="column">
                        <div class="container">
                            <div class="card">                            
                                <div class="card__content">
                                    <br>
                                    <center>
                                         <h6 class="card__title">Order ID: {{this.orderId}}</h6>
                                         <h6 class="card__title">Rating: {{this.rating}}</h6>
                                         <h6 class="card__title">Quantity: {{this.quantity}}</h6>
                                         <h6 class="card__title">{{this.comments}}</h6>                                                                            
                                    </center>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>  
        {{/each}}
    {{/if}}
</div>

{{!-- <br>
<center>
    <form method="GET" action="/stallowner/showMenu">
        <button type="submit" class="green-btn">Return</button>
    </form>
<center>

{{#if items}}
            {{#each items}}
                <tr>
                    <th>{{this.quantity}}</th>
                    <td>{{this.rating}}</td>
                    <td>{{this.comments}}</td>
                    <td>{{this.orderId}}</td>
                </tr>
            {{/each}}
{{/if}} --}}