<script src="/js/vendor/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/js/updateOrderStatus.js" type="text/javascript"></script>
<script>

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function subStrCookie(cookie){
        var pattern = /:(.+)\./;
        return pattern.exec(cookie)[1];
    }

    var socket = null;
    $(document).ready(function (){
        var sid = subStrCookie(getCookie('connect.sid'))
        console.log(sid)
        //Connect to websocket
        socket = io('http://localhost:4000/');
        socket.on('connect', () => {
        console.log(socket.connected); // true
            socket.emit('sessionid', sid)
            socket.on('reply', function(reply){
                console.log(reply);
            })
        });
        socket.on('update-status', function(msg){

        })
    })

    function updateStatus(OrderID, currentStatus){
        socket.emit('update-status', {OrderID, currentStatus})
    }
</script>
<div class="container" style="position: relative; top: 5vh;">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-4">
            <div style="width: 100%;">

                {{!-- Block --}}
                <div class="card p-3">

                    {{!-- Title --}}
                    <div class="text-center row">
                        <div class="col">
                            <h1>Current Orders</h1> 
                        </div>
                    </div>

                    {{!-- Body --}}
                    <div class="row">
                        <div class="col">

                            <div class="card container-fluid bg-light text-center">
                                
                                <div class="col">

                                    {{#if currentOrders}}
                                        {{#each currentOrders as |order|}}
                                            <div id="orderCard_{{order.id}}" class="card d-inline-block m-4" style="width: 15rem">
                                                <div class="card shadow-sm">

                                                    {{!-- Card Header --}}
                                                    <div class="card-header font-weight-bold bg-danger text-white">
                                                        <div class="row justify-content-between">
                                                            <div class="col-md-auto">
                                                                Order: {{order.id}}
                                                            </div>
                                                            <div class="col text-right">
                                                                {{formatDate order.orderTiming "HH:MM:SS"}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {{!-- Card Body --}}
                                                    <div class="card-body" style="font-family: Roboto">

                                                        {{!-- Current Order Status --}}
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <u class="mx-auto">Current Status:</u>
                                                                </div>
                                                                <div class="row">
                                                                    <b class="mx-auto" id="currentStatusTxt_{{order.id}}">{{order.status}}</b>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <hr>

                                                        {{!-- Order Info --}}
                                                        {{#each order.menuItems as |item|}}
                                                            <div class="row font-weight-light">
                                                                <div class="col-md-auto">
                                                                    {{item.itemName}}
                                                                </div>
                                                                <div class="col text-right">
                                                                    <span class="badge badge-secondary">x{{item.orderItem.quantity}}</span>
                                                                </div>
                                                            </div>
                                                        {{/each}}

                                                        <hr>

                                                        {{!-- Order Total --}}
                                                        <div class="row">
                                                            <div class="col text-right">
                                                                ${{calcOrderTotal order}}   
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {{!-- Card Footer / Update Status --}}
                                                    <div class="card-footer text-muted">
                                                        <div class="row">
                                                            <form action="./updateStatus/{{order.id}}" method="post" class="mx-auto">

                                                                <button type="button" onclick="updateStatus('{{order.id}}', '{{order.status}}');" id="updateStatusBtn_{{order.id}}" class="btn btn-sm btn-outline-primary mx-auto">
                                                                    <b id="updateStatusTxt_{{order.id}}">{{getNextStatus order.status}}</b>
                                                                </button>
                                                                
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {{/each}}
                                    {{else}}
                                        <div class="alert alert-success m-5" role="alert">
                                          <h4 class="alert-heading">Well Done!</h4>
                                          <p>There are no more orders left.</p>
                                        </div>
                                    {{/if}}

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>