<script src="/js/vendor/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/js/updateOrderStatus.js" type="text/javascript"></script>

<link rel="stylesheet" href="/css/card-column-scaling.css">

<script type="module">
    import {toggleScanning, initQRScanner} from '/js/current_orders_QRscanner.mjs'
    
    initQRScanner((result) => {
        alert(result)
        updateStatus(result, true)
    })

    $('#bottom_btn').on('click', function(){
        toggleScanning();
    });

</script>
<script nomodule>
    console.log('Module not suppoted by browser, consider using lastest version of chrome.');
</script>

{{!-- Main --}}
<div class="container" style="position: relative; top: 5vh;">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-4">
            <div style="width: 100%;">


                {{!-- Block --}}
                <div class="card p-3">

                    {{!-- Title --}}
                    <div class="text-center row">
                        <div class="col">
                            <h1>Current Orders</h1> 
                        </div>
                    </div>

                    {{!-- Scanner --}}
                    <div>

                        <video id="qr-video" width="230" height="160" hidden></video>

                        <p id="scannerOutput"></p>
                    </div>

                    {{!-- Body --}}
                    <div class="row">
                        <div class="col">

                            <div class="card p-4">
                                <div class="card-columns">

                                    {{!-- Order Cards --}}
                                    {{#if currentOrders}}
                                        {{#each currentOrders as |order|}}
                                            <div class="card shadow-sm" id="orderCard_{{order.publicOrderID}}">

                                                {{!-- Header / Order ID, Order Timing --}}
                                                <div class="card-header font-weight-bold bg-danger text-right text-white">
                                                    <div class="row justify-content-between">
                                                        <div class="col">
                                                            <h7>Order: {{substringTo5 order.publicOrderID}}</h7>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col">
                                                            <h6>{{formatDate order.orderTiming "HH:MM:SS"}}</h6>
                                                        </div>
                                                    </div>
                                                </div>

                                                {{!-- Body / Order Details --}}
                                                <div class="card-body" style="font-family: Roboto">

                                                    <!-- Current Order Status -->
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <u class="mx-auto">Current Status:</u>
                                                            </div>
                                                            <div class="row">
                                                                <b class="mx-auto" id="currentStatusTxt_{{order.publicOrderID}}">{{order.status}}</b>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr>

                                                    <!-- Order Info -->
                                                    {{#each order.menuItems as |item|}}
                                                        <div class="row font-weight-light">
                                                            <div class="col-md-auto">
                                                                {{item.itemName}}
                                                            </div>
                                                            <div class="col text-right">
                                                                <span class="badge badge-secondary">x{{item.orderItem.quantity}}</span>
                                                            </div>
                                                        </div>
                                                    {{/each}}

                                                    <hr>

                                                    <!-- Order Total -->
                                                    <div class="row">
                                                        <div class="col text-right">
                                                            ${{calcOrderTotal order}}   
                                                        </div>
                                                    </div>

                                                </div>

                                                {{!-- Footer / Update Status --}}
                                                <div class="card-footer text-muted">
                                                    <div class="row">
                                                        <form action="./updateStatus/{{order.publicOrderID}}" method="post" class="mx-auto">

                                                            <button type="button" onclick="updateStatus('{{order.publicOrderID}}');" id="updateStatusBtn_{{order.publicOrderID}}" class="btn btn-sm btn-outline-primary mx-auto">
                                                                <b id="updateStatusTxt_{{order.publicOrderID}}">{{getNextStatus order.status}}</b>
                                                            </button>
                                                            
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        {{/each}}
                                    {{else}}
                                        {{> current_orders/no_orders_alert}}    
                                    {{/if}}
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{{!-- FAB QR code --}}
{{> fixed_button icon='fas fa-qrcode icon-default'}}