<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var OrdersPerItem = {{{jsonStringfy OrdersPerItem}}};
    var AvgRatingPerItem = {{{jsonStringfy AvgRatingPerItem}}};
    var EachItemRating = {{{jsonStringfy EachItemRating}}};
</script>
<script src="/js/createChart.js"></script>

<div class="container" style="position: relative; top: 5vh; width:">

    {{!-- Title --}}
    <div class="row">
        <div class="col text-center">
            <h1>Order Details</h1>
        </div>
    </div>

    {{!-- Sub-Nav --}}
    <nav class="breadcrumb justify-content-center mb-4">
        <a class="breadcrumb-item" href="/stallOwner/allOrders/1/">Orders</a>
        <a class="breadcrumb-item" href="/stallOwner/ratings/">Ratings</a>
        <span class="breadcrumb-item active">Charts</span>
    </nav>

    {{!-- Filter --}}
    <div class="row mb-4">
        <div class="col">
        
            <div class="form">
                <div class="row">

                    <div class="col text-right">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="filter_date" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Filter Date
                                    </button>
                            <div class="dropdown-menu" aria-labelledby="filter_date">
                                <a class="dropdown-item" href="/All_Time">All Time</a>
                                <a class="dropdown-item disabled" href="#">Disabled action</a>
                                <h6 class="dropdown-header">Section header</h6>
                                <a class="dropdown-item" href="#">Action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">After divider action</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {{!-- Charts --}}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="pb-md-5 pb-sm-3" style="width: 100%;">

                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">

                                <div class="container">
                                    <div class="row">
                                        <h5 class="col-11 mb-0">
                                            General Information
                                        </h5>
                                        <i class="col-1 text-right fas fa-angle-down rotate-icon"></i>
                                    </div>
                                </div>

                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body">

                                
                                {{!-- General Charts --}}
                                <div class="card-deck mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Number of Items Bought:</h4>
                                            <canvas id="OrdersPerItem"></canvas>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Average Rating Per Item</h4>
                                            <canvas id="ARPI"></canvas>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                <div class="container">    
                                    <div class="row">
                                        <h5 class="col-11 mb-0">
                                            Rating for each items
                                        </h5>
                                        <i class="col-1 text-right fas fa-angle-down rotate-icon"></i>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                            <div class="card-body">
                            
                            
                                {{!-- Each Food Item Charts --}}
                                <div class="container-fluid text-center" id="EIR">

                                    <div class="col">

                                        {{!-- Each Food Item Charts --}}
                                        {{#each EachItemRating as |item|}}

                                            <div class="card d-inline-block mx-2 my-2" style="width: 25rem">
                                                <div class="card-body">
                                                    <h4 class="card-title">{{item.itemName}}</h4>
                                                    <canvas id="Rating_{{item.id}}"></canvas>
                                                </div>
                                            </div>

                                        {{/each}}

                                    </div>

                                </div>
                            
                            
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                </div>
                <!-- Accordion wrapper -->
                
            </div>
        </div>
    </div>

</div>

<script>

    let orderNo = document.getElementById('orderNo')
    let orderDate = document.getElementById('orderDate')

    orderNo.oninput = function() {
        if (this.value.length) {
            orderDate.disabled = true
        }
        else{
            orderDate.disabled = false
        }
    }

    orderDate.oninput = function() {
        if (this.value.length) {
            orderNo.disabled = true

        }
        else{
            orderNo.disabled = false
        }
    }

</script>