<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var OrdersPerItem = {{{jsonStringfy OrdersPerItem}}};
    var AvgRatingPerItem = {{{jsonStringfy AvgRatingPerItem}}};
    var EachItemRating = {{{jsonStringfy EachItemRating}}};
</script>
<script src="/js/createChart.js"></script>

<div class="container" style="position: relative; top: 5vh; width:">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="px-md-5 pb-md-5 px-sm-3 pb-sm-3" style="width: 100%;">

                <div class="card-deck mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Number of Items Bought:</h4>
                            <canvas id="OrdersPerItem"></canvas>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Average Rating Per Item</h4>
                            <canvas id="ARPI"></canvas>
                        </div>
                    </div>
                </div>

                <div class="container-fluid text-center">
                    {{#each EachItemRating as |item|}}
                        <div class="card d-inline-block mx-2 my-2">
                            <div class="card-body">
                                <h4 class="card-title">{{item.itemName}}</h4>
                                <canvas id="Rating_{{item.id}}"></canvas>
                            </div>
                        </div>
                    {{/each}}
                </div>


                <div class="card-group" id="EIR">
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>

    let orderNo = document.getElementById('orderNo')
    let orderDate = document.getElementById('orderDate')

    orderNo.oninput = function() {
        if (this.value.length) {
            orderDate.disabled = true
        }
        else{
            orderDate.disabled = false
        }
    }

    orderDate.oninput = function() {
        if (this.value.length) {
            orderNo.disabled = true

        }
        else{
            orderNo.disabled = false
        }
    }

</script>