<script src="/js/rating.min.js" type="text/javascript"></script>
<div class="container" style="position: relative; top: 5vh;">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-4">
            <div style="width: 100%;">

                <div class="row text-center mb-4">
                    <div class="col">
                        <h1>{{title}}</h1>
                    </div>
                </div>
                
                {{!-- Filter --}}
                <div class="row mb-4">
                    <div class="col">
                        <div class="card bg-light">
                            <div class="card-body container p-4">
                                <form id="filter">

                                    <div class="row">

                                        {{!-- Item --}}
                                        <div class="col-4">

                                            <div class="row">
                                                <div class="col">
                                                    <h6>Items:</h6>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">

                                                    <select class="custom-select" name="item_filter" id="item_filter">
                                                        <option value="" {{#ifCondition item_filter "||" rating_filter}}{{else}}selected{{/ifCondition}}>Filter by menu item</option>
                                                        {{#each menu_items as |item|}}

                                                            {{#ifCondition @root.item_filter "==" item.id}}
                                                                <option value="{{item.id}}" selected>{{item.itemName}}</option>
                                                            {{else}}
                                                                <option value="{{item.id}}">{{item.itemName}}</option>
                                                            {{/ifCondition}}

                                                        {{/each}}
                                                    </select>

                                                </div>
                                            </div>

                                        </div>

                                        {{!-- Rating --}}
                                        <div class="col-4">

                                            <div class="row">
                                                <div class="col">
                                                    <h6 class="m-0">Rating:</h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span class="rating" style="font-size: 2em"></span>
                                                    <input type="hidden" name="rating_filter" id="rating_filter">      
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col text-right">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="reset" class="btn btn-outline-danger">Reset</button>
                                                    <button class="btn btn-outline-danger">Filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Accordion --}}
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    {{#each allRatings as |item|}}

                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id='heading_{{item.id}}'>
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse_{{item.id}}" aria-expanded="true" aria-controls="collapse_{{item.id}}">

                                    <div class="container">
                                        <div class="row">
                                            <h5 class="col-11 mb-0">
                                                {{item.itemName}}
                                            </h5>
                                            <i class="col-1 text-right fas fa-angle-down rotate-icon"></i>
                                        </div>
                                    </div>

                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapse_{{item.id}}" class="collapse {{#ifCondition @index "==" 0}}show{{/ifCondition}}" role="tabpanel" aria-labelledby='heading_{{item.id}}' data-parent="#accordionEx">
                                <div class="card-body">

                                    {{#if item.ratings}}

                                        {{!-- Ratings --}}
                                        <div class="card-columns">

                                            {{!-- Each Rating --}}
                                            {{#each item.ratings as |itemRating|}}                                            
                                                <div class="card d-inline-block">

                                                    <img class="card-img-top" src="holder.js/100x180/" alt="">

                                                    <blockquote class="blockquote mb-0 card-body">
                                                        <h5 class="card-title font-weight-bold">
                                                            Rating: {{#for itemRating.rating}}<i class="fa fa-star text-warning" aria-hidden="true"></i>{{/for}}
                                                        </h5>
                                                        <p>{{itemRating.comments}}</p>
                                                        <footer class="blockquote-footer">
                                                            <small class="text-muted">
                                                                Rating by: <cite title="{{itemRating.CUSTOMER_NAME}}">{{itemRating.CUSTOMER_NAME}}</cite>
                                                            </small>
                                                        </footer>
                                                    </blockquote>

                                                </div>
                                            {{/each}}

                                        </div>

                                    {{else}}
                                        
                                        <div class="alert alert-info" role="alert">
                                            <strong>Ratings Not Found</strong>
                                        </div>

                                    {{/if}}

                                    
                                </div>
                            </div>

                        </div>
                        <!-- Accordion card -->

                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('.rating').mdbRate();

    $('.rating').children().on('click', function(){
        var index = $(this).data("index")
        $('#rating').val(index)
        $('#rating_filter').val(index+1)
        console.log(index)
    })
</script>