
<link rel="stylesheet" href="/css/stallowner.css">
<br>
<div class="container">
    <div class="row">

        {{!-- Filter --}}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <center>
                <form method="POST" action="/stallOwner/filterItem" class="form-inline">
                    <input type="text" class="form-control" name="filterName" id="filterName" placeholder="Search Menu" style="width: 180px;">
                    <button type="submit" class="btn btn-outline-success" style="margin-left: 15px;">Search</button>
                </form>
            </center>
            <br>           
        </div>

        {{!-- Show All --}}
        <div class="col-sm-12 col-md-3 col-lg-4">
            <center>
                <form method="GET" action="/stallOwner/showMenu">
                    <button type="submit" class="btn btn-outline-success">Show All</button>
                </form>
            </center>
            <br> 
        </div>

        {{!-- Add Menu --}}
        <div class="col-sm-12 col-md-3 col-lg-4">
            <center>
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" onclick="showCustomDialog('/stallowner/showAddMenu')">Add Menu</button>
            </center>
            <br> 
        </div>
    </div>
    <br>
    <div class="row">

        {{!-- Menu Item Cards --}}
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card border-secondary" style="background-color: #fff;  width: 100% !important; height: 100% !important;">
                <center><h2>{{stall.stallName}}</h2></center>
                <br>
                <div class="row">
                    {{#if item}}
                        {{#each item}}
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="column">
                                    <div class="container">
                                        <div class="card">
                                            <div class="card__image-container shimmerBG media">
                                                <center><img class="card__image" src="/img/uploads/{{this.image}}" onerror="this.src='http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg';" height="180" width="265" alt="" title="{{this.itemDesc}}"></center>
                                            </div>
                                            <div class="card__content">
                                                <br>
                                                <center>
                                                    <h5 class="card__title">{{this.itemName}}</h5>
                                                    <h5 class="card__title">${{this.price}}</h5>                                                    
                                                    <button type="button" class="btn btn-outline" data-toggle="modal" onclick="showCustomDialog('/stallOwner/showEditMenu/{{this.id}}')" title="edit" style="background-color: #fff; color:#343a40;">Edit</button>                                                                                            
                                                    <button type="submit" class="btn btn-outline" data-toggle="modal" onclick="showCustomDialog('/stallOwner/deletePrompt/{{this.id}}')" title="delete" style="background-color: #fff; color:#343a40;">Delete</button>                                                                                 
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>  
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>

    </div>
</div>
<br>

