<link rel="stylesheet" href="/css/effect/ping.css">
<div class="container" style="position: relative; top: 5vh; width:">
{{#if currentOrders}}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="p-3" style="width: 100%;">
                <div class="accordion" id="accordion"  role="tablist" aria-multiselectable="true">

                    {{#each currentOrders as |order|}}
                        <div class="card">

                            <div class="card-header bg-secondary" role="tab" id="head{{@index}}">
                                    <button class="btn btn-link container-fluid text-white font-weight-bold" type="button" data-toggle="collapse"data-target="#content{{@index}}" aria-expanded="false" aria-controls="content{{@index}}">
                                        <span class="float-left">
                                            {{inc @index}})
                                            Order: {{substringTo5 order.publicOrderID}}
                                        </span>
                                    </button>
                            </div>
                            <div id="content{{@index}}" class="collapse {{#if @index}}{{else}}show{{/if}} p-3" role="tabpanel" data-parent="#accordion" aria-labelledby="head{{@index}}">

                                <div class="card container bg-light">
                                    <div class="card-body">
                                        {{!-- Order Details --}}
                                        <div class="row">
                                            <div class="col-3">
                                                <h3 class="mb-0">Order: {{substringTo5 order.publicOrderID}}</h3>    
                                            </div>
                                            {{#ifCondition order.status '!=' 'Collection Confirmed'}}
                                            <div class="col-2 d-flex">
                                                <div class="ring-container">
                                                    <div class="ring small-ping"></div> <a class="dot" href="/orderStatus/{{order.publicOrderID}}"></a>
                                                </div>
                                                <div><span class="text-bold" style="position: absolute;top:16%;">Live</span></div>
                                            </div>
                                            {{/ifCondition}}
                                            <div class="col text-right">
                                                <p class="mb-0">Order Timing: {{formatDate order.orderTiming "hh:mm:ss"}}</p>
                                                <p class="mb-0">User ID: {{order.userId}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        {{!-- Order Items --}}
                                        {{#each order.menuItems as |item|}}
                                        <div class="card mb-3">
                                            <div class="card-body row">
                                                <div class="col-2">
                                                    <img class="img-thumbnail" src="/img/{{#if item.image}}uploads/{{item.image}}{{else}}no-image.jpg{{/if}}" alt"">
                                                </div>
                                                <div class="col-8">
                                                    <div class="row">
                                                        {{item.itemName}} x{{item.orderItem.quantity}} @ ${{item.price}}
                                                    </div>
                                                    <div class="row my-5">
                                                        <div class="col">
                                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">View product page</button>
                                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href='/review/{{id}}/{{order.id}}';">Review order</button>
                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col" style="text-align: right;">
                                                    ${{calcItemPrice item}}
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                        {{!-- Total Price   --}}
                                        <hr>  
                                        <div class="row text-right">
                                            <div class="col">
                                                <b>Total Amount: ${{calcOrderTotal order}}</b>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>

                            </div>
                        </div> 
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
    <h3>No Orders</h3>
{{/if}}