<link rel="stylesheet" href="/css/review.css">
<div class="container-fluid">
    <div class="card card-body">
        <h4>Review Page</h4>
        <br>
        <form action="/saveReview/{{orderItem.menuItemId}}/{{orderItem.orderId}}" method="post" onload="getstars()" enctype="multipart/form-data">
          <input name="csrf" type="hidden" value="{{csrf}}"/>
            <div class="row">
                <div class="col-lg-3">
                    {{!-- <div class="imagePreview" style="background: url(/img/reviewimages/{{orderItem.image}}); background-size: 225px 140px;"></div> --}}
                    <img id="poster" {{#if orderItem.image}}src="/img/reviewimages/{{orderItem.image}}"{{/if}} alt="" class="border img-thumbnail img-fluid" style="height:95%;width:100%">
                </div>
                <div class="col-lg-9">
                    <row>
                        <fieldset class="rating">
                        <input type="radio" id="star5" onclick="myFunction(5)" name="rating" value="5" /><label class = "full" for="star5"></label>
                        <input type="radio" id="star4" onclick="myFunction(4)" name="rating" value="4" /><label class = "full" for="star4"></label>
                        <input type="radio" id="star3" onclick="myFunction(3)" name="rating" value="3" /><label class = "full" for="star3"></label>
                        <input type="radio" id="star2" onclick="myFunction(2)" name="rating" value="2" /><label class = "full" for="star2"></label>
                        <input type="radio" id="star1" onclick="myFunction(1)" name="rating" value="1" /><label class = "full" for="star1"></label>
                        </fieldset>
                        <input type="text" id="ratingstar" value="{{orderItem.rating}}" hidden></input>
                    </row>
                    <row>
                        <div class="form-group">
                            <textarea class="form-control" id="" name="comments" rows="8">{{orderItem.comments}}</textarea>
                        </div>
                    </row>
                    <input type="file" name="reviewImage" id="reviewImage" accept="image/png,image/jpeg,image/jpg" style="float:left;">
                    <button id="butAddVideo" type="submit" class="btn btn-primary" style="float:right;">Save</button>
                </div>
            </div>
		</form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  document.getElementById("star"+document.getElementById("ratingstar").value).click();
});
function myFunction(star) {
  document.getElementById("ratingstar").value = star
}
function getstars(){
  document.getElementById("star"+document.getElementById("ratingstar").value).click();
}
</script>
<script>
  function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#poster').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]);
  }
}

$("#reviewImage").change(function() {
  readURL(this);
});
</Script>